html,
body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.box {
  padding: 6px;
  background-color: #1e90ff6b;
  border: #1e90ff6b 1px solid;
  box-shadow: 0 0 4px #9ecaed;
  margin: 6px;
}

.boxPlain {
  padding: 6px;
  margin: 6px;
}

#canvas {
  width: 100vw;
  height: 100vh;
}

#textContainer {
  position: fixed;
  width: calc(100%);
  color: white;
}

b {
  color: #b2e7ff;
}

#header {
  text-align: center;
}

#statusContainer {
  vertical-align: top;
}

.ib {
  display: inline-block;
}
