html,
body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: black;
}

#loading-indicator {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.7);
  z-index: 10;

  color: white;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

#canvas {
  width: 100vw;
  height: 100vh;
}

#textContainer {
  position: fixed;
  width: calc(100%);
  color: white;
}

#header {
  text-align: center;
}

#statusContainer {
  vertical-align: top;
  font-family: monospace;
}

.box {
  padding: 6px;
  background-color: #1e90ff6b;
  border: #1e90ff6b 1px solid;
  box-shadow: 0 0 4px #9ecaed;
  margin: 6px;
}

.boxPlain {
  padding: 6px;
  margin: 6px;
}

b {
  color: #b2e7ff;
}

.ib {
  display: inline-block;
}
